Repository rupali-codes/LinksHub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CBID2, @Anmol-Baranwal, @rupali-codes, @aftabrehan

Update database/languages/swift.json
  database/languages/swift.json
Owners: none

Update roadmaps.json
  database/other/roadmaps.json
Owners: none

fix: pagination-overlap (#2162)
  pages/[category]/[...subcategory].tsx
Owners: none

Fix: Searchbar-react-bug (#2161)
  components/Searchbar/Searchbar.tsx
  database/data.ts
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes, @aftabrehan

chore: remove hacktoberfest checkmark
  .github/ISSUE_TEMPLATE/---category-suggestion.yml
  .github/ISSUE_TEMPLATE/add_link.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/category_description.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/refactor_code.yml
Owners: @rupali-codes, @CBID2, @Anmol-Baranwal, @aftabrehan

adds: upvote icon
  components/Cards/Card.tsx
  firebase/Firebase.tsx
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes, @aftabrehan

.github/CODEOWNERS:

# Codeowners file for LinksHub repository

# This file defines the code owners for the LinksHub repository. Code owners are responsible for reviewing and approving any changes to the code in their respective areas

## Files

README.md @CBID2 @Anmol-Baranwal @rupali-codes @aftabrehan
.gitignore @CBID2 @Anmol-Baranwal @rupali-codes @aftabrehan
LICENSE @rupali-codes @CBID2 @Anmol-Baranwal @aftabrehan
.github/workflows/ @rupali-codes @CBID2 @Anmol-Baranwal
app/ @rupali-codes  @Anmol-Baranwal @aftabrehan
components/ @Anmol-Baranwal @CBID2 @rupali-codes @aftabrehan
lib/ @CBID2 @rupali-codes @Anmol-Baranwal @aftabrehan
tests/ @rupali-codes @CBID2 @Anmol-Baranwal @aftabrehan

## Directories

.github/ @rupali-codes @CBID2 @Anmol-Baranwal @aftabrehan
node_modules/ @rupali-codes @Anmol-Baranwal @aftabrehan
public/ @CBID2 @rupali-codes @Anmol-Baranwal @aftabrehan
.env/ @rupali-codes @Anmol-Baranwal @CBID2 @aftabrehan

## Special cases

# Any changes to the CODEOWNERS file must be approved by @rupali-codes @Anmol-Baranwal @CBID2 @aftabrehan

# Any changes to the .gitattributes file must be approved by @rupali-codes @CBID2 @Anmol-Baranwal @aftabrehan

# Any changes to the .gitignore file must be approved by @CBID2 @Anmol-Baranwal  @rupali-codes @aftabrehan

## Contact information

# If you have any questions about the CODEOWNERS file, please contact @rupali-codes @Anmol-Baranwal @CBID2 @aftabrehan
