Repository rupali-codes/LinksHub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CBID2, @ujjawaltyagii, @rupali-codes

chore: added new programs under Community sub-category (#1078)
  database/other/communities.json
Owners: none

chore: fix vercel deployment
  database/data.ts
Owners: none

chore: remove extra spaces
  database/languages/c++.json
Owners: none

Update database/languages/c++.json
  database/languages/c++.json
Owners: none

Update database/resources/official-docs.json
  database/resources/official-docs.json
Owners: none

cyber security field added
  database/cyberSecurity/basic.json
  database/cyberSecurity/certificate.json
  database/cyberSecurity/platform.json
  database/cyberSecurity/tools.json
  database/data.ts
  database/index.ts
  database/youtube/cybersecurity.json
  types/index.ts
Owners: none

feat: tooltip color updated
  components/CopyToClipboard/CopyToClipboard.tsx
Owners: @ujjawaltyagii, @CBID2, @rupali-codes

chore: added Official Docs for Django (#1090)
  database/resources/official-docs.json
Owners: none

bug: prop updated
  components/popup/index.tsx
Owners: @ujjawaltyagii, @CBID2, @rupali-codes

docs: update contributing guidelines
  CONTRIBUTING.md
Owners: none

feat: add theme styled links in the footer
  components/Footer/Footer.tsx
Owners: @ujjawaltyagii, @CBID2, @rupali-codes

Update react.json
  database/frontend/react.json
Owners: none

feat: add missing subcategories in order (#1072)
  types/index.ts
Owners: none

chore: fixed typos (#1094)
  README.md
Owners: @CBID2, @ujjawaltyagii, @rupali-codes

Update react.json
  database/frontend/react.json
Owners: none

added offical docs of Angular
  database/resources/official-docs.json
Owners: none

cyberSecurity Field added
  database/cyberSecurity/basic.json
  database/cyberSecurity/certificate.json
  database/cyberSecurity/platform.json
  database/cyberSecurity/tools.json
  database/youtube/cybersecurity.json
  types/index.ts
Owners: none

cyberSecurity added
  database/cyberSecurity/basic.json
  database/cyberSecurity/certificate.json
  database/cyberSecurity/tools.json
  database/youtube/cybersecurity.json
Owners: none

feat: update irregular name of subcategories
  components/TopBar/CategoryDescriptions.ts
  database/data.ts
  database/index.ts
  database/languages/csharp.json
  database/ml&ai/machine-learning.json
  database/youtube/data-structures.json
  types/index.ts
Owners: @ujjawaltyagii, @CBID2, @rupali-codes

chore: update category name in subcategory json
  database/ml&ai/datascience.json
  database/ml&ai/deeplearning.json
Owners: none

chore: added resource for tailwindCSS in UI generators
  database/frontend/ui-generators.json
Owners: none

fixed typo
  database/frontend/ui-generators.json
Owners: none

update: typo
  database/frontend/colors.json
Owners: none

fix: revise formatting
  database/frontend/colors.json
Owners: none

created issue template for category description
  .github/ISSUE_TEMPLATE/category_description.yml
Owners: @rupali-codes, @CBID2, @ujjawaltyagii

updated category description issue template
  .github/ISSUE_TEMPLATE/category_description.yml
Owners: @rupali-codes, @CBID2, @ujjawaltyagii

fix: change background color
  components/CopyToClipboard/CopyToClipboard.tsx
Owners: @ujjawaltyagii, @CBID2, @rupali-codes

feat: update config for fetching github images
  next.config.js
Owners: none

Update database/languages/c++.json
  database/languages/c++.json
Owners: none

feat: add contributors page basic structure
  pages/contributors.tsx
Owners: none

feat: add name using user api github fetch call
  pages/contributors.tsx
Owners: none

feat: add another CTA to visit commit history
  pages/contributors.tsx
Owners: none

feat: update styling
  pages/contributors.tsx
Owners: none

feat: remove comments and update styling
  pages/contributors.tsx
Owners: none

updated contributing.md
  CONTRIBUTING.md
Owners: none

updated readme
  README.md
Owners: @CBID2, @ujjawaltyagii, @rupali-codes

Update README.md
  README.md
Owners: @CBID2, @ujjawaltyagii, @rupali-codes

Update README.md
  README.md
Owners: @CBID2, @ujjawaltyagii, @rupali-codes

Update README.md
  README.md
Owners: @CBID2, @ujjawaltyagii, @rupali-codes

Update README.md
  README.md
Owners: @CBID2, @ujjawaltyagii, @rupali-codes

.github/CODEOWNERS:

# Codeowners file for LinksHub repository

# This file defines the code owners for the LinksHub repository. Code owners are responsible for reviewing and approving any changes to the code in their respective areas.

## Files

README.md @CBID2 @ujjawaltyagii @rupali-codes
.gitignore @CBID2 @ujjawaltyagii @rupali-codes
LICENSE @rupali-codes @CBID2 @ujjawaltyagii 
.github/workflows/ @rupali-codes @CBID2 @ujjawaltyagii 
app/ @rupali-codes  @ujjawaltyagii 
components/ @ujjawaltyagii @CBID2 @rupali-codes
lib/ @CBID2 @rupali-codes @ujjawaltyagii 
tests/ @rupali-codes @CBID2 @ujjawaltyagii 

## Directories
.github/ @rupali-codes @CBID2 @ujjawaltyagii 
node_modules/ @rupali-codes @ujjawaltyagii 
public/ @CBID2 @rupali-codes @ujjawaltyagii 
.env/ @rupali-codes @ujjawaltyagii @CBID2

## Special cases
# Any changes to the CODEOWNERS file must be approved by @rupali-codes @ujjawaltyagii @CBID2.
# Any changes to the .gitattributes file must be approved by @rupali-codes @CBID2 @ujjawaltyagii.
# Any changes to the .gitignore file must be approved by @CBID2 @ujjawaltyagii @rupali-codes.

## Contact information
# If you have any questions about the CODEOWNERS file, please contact @rupali-codes @ujjawaltyagii @CBID2.
