Repository rupali-codes/LinksHub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CBID2, @ujjawaltyagii, @rupali-codes

Update .github/ISSUE_TEMPLATE/category_description.yml
  .github/ISSUE_TEMPLATE/category_description.yml
Owners: @rupali-codes, @CBID2, @ujjawaltyagii

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Update README.md
  README.md
Owners: @CBID2, @ujjawaltyagii, @rupali-codes

Update README.md
  README.md
Owners: @CBID2, @ujjawaltyagii, @rupali-codes

[Feature] Enhanced search functionality
  database/data.ts
  hooks/useFilterSearch.ts
  hooks/useSidebarSearch.ts
  pages/search.tsx
  types/index.ts
Owners: none

Fix of data.ts
  database/data.ts
Owners: none

Added the CSS Scan website to the LinksHub
  database/frontend/animations.json
Owners: none

chore: added resource for tailwindCSS in UI generators (#1131)
  database/frontend/ui-generators.json
Owners: none

Added youtube playlist link for android development
  database/youtube/android.json
Owners: none

chore: add color resource (#1092)
  database/frontend/colors.json
Owners: none

Next.js Documentation are Added
  database/resources/official-docs.json
Owners: none

Added Complete Python Tutorial site
  database/languages/python.json
Owners: none

feat: change link of footer to contributor route
  components/Footer/Footer.tsx
Owners: @ujjawaltyagii, @CBID2, @rupali-codes

chore: added official docs of Angular (#1119)
  database/resources/official-docs.json
Owners: none

feat: Add support for adding subcategories description #1098 (#1143)
  .github/ISSUE_TEMPLATE/category_description.yml
  CONTRIBUTING.md
  README.md
Owners: @rupali-codes, @CBID2, @ujjawaltyagii

Update game-development.json
  database/youtube/game-development.json
Owners: none

Update database/data.ts
  database/data.ts
Owners: none

Update database/languages/c++.json
  database/languages/c++.json
Owners: none

Update database/data.ts
  database/data.ts
Owners: none

Update database/index.ts
  database/index.ts
Owners: none

Update database/data.ts
  database/data.ts
Owners: none

Update database/languages/python.json
  database/languages/python.json
Owners: none

chore : Added link for QR Code generator
  database/other/other-resources.json
Owners: none

Add Font Awesome
  database/frontend/fonts.json
Owners: none

added hover effect
  components/SocialMedia/SocialMediaIconsList.tsx
Owners: @ujjawaltyagii, @CBID2, @rupali-codes

Added hover effect
  components/SocialMedia/SocialMediaIconsList.tsx
Owners: @ujjawaltyagii, @CBID2, @rupali-codes

refactor: add null check
  components/Cards/Card.tsx
Owners: @ujjawaltyagii, @CBID2, @rupali-codes

refactor: improve code readability
  components/BackToTop/BackToTopButton.tsx
Owners: @ujjawaltyagii, @CBID2, @rupali-codes

refactor: use in-built function with other changes
  components/Cards/CardsList.tsx
Owners: @ujjawaltyagii, @CBID2, @rupali-codes

refactor: improve code consistency & readability
  components/Header/Header.tsx
  components/ThemeToggler/themeToggler.tsx
Owners: @ujjawaltyagii, @CBID2, @rupali-codes

Added youtube link for web development #1128
  database/youtube/web-development.json
Owners: none

Update python.json
  database/languages/python.json
Owners: none

Added and Solved Conflict
  database/resources/official-docs.json
Owners: none

Added MySQL docs
  database/backend/database.json
Owners: none

small change
  database/backend/database.json
Owners: none

Update database/index.ts
  database/index.ts
Owners: none

Update database/index.ts
  database/index.ts
Owners: none

Update database.json
  database/backend/database.json
Owners: none

chore: added c++ in languages (#1093)
  database/data.ts
  database/index.ts
  database/languages/c++.json
Owners: none

.github/CODEOWNERS:

# Codeowners file for LinksHub repository

# This file defines the code owners for the LinksHub repository. Code owners are responsible for reviewing and approving any changes to the code in their respective areas.

## Files

README.md @CBID2 @ujjawaltyagii @rupali-codes
.gitignore @CBID2 @ujjawaltyagii @rupali-codes
LICENSE @rupali-codes @CBID2 @ujjawaltyagii 
.github/workflows/ @rupali-codes @CBID2 @ujjawaltyagii 
app/ @rupali-codes  @ujjawaltyagii 
components/ @ujjawaltyagii @CBID2 @rupali-codes
lib/ @CBID2 @rupali-codes @ujjawaltyagii 
tests/ @rupali-codes @CBID2 @ujjawaltyagii 

## Directories
.github/ @rupali-codes @CBID2 @ujjawaltyagii 
node_modules/ @rupali-codes @ujjawaltyagii 
public/ @CBID2 @rupali-codes @ujjawaltyagii 
.env/ @rupali-codes @ujjawaltyagii @CBID2

## Special cases
# Any changes to the CODEOWNERS file must be approved by @rupali-codes @ujjawaltyagii @CBID2.
# Any changes to the .gitattributes file must be approved by @rupali-codes @CBID2 @ujjawaltyagii.
# Any changes to the .gitignore file must be approved by @CBID2 @ujjawaltyagii @rupali-codes.

## Contact information
# If you have any questions about the CODEOWNERS file, please contact @rupali-codes @ujjawaltyagii @CBID2.
