Repository rupali-codes/LinksHub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CBID2, @Anmol-Baranwal, @rupali-codes

UI libraries in fronted added
  database/data.ts
  database/frontend/ui-libraries.json
  database/index.ts
Owners: none

added description for the UI libraries
  components/TopBar/CategoryDescriptions.ts
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

Update database/resources/dsa.json
  database/resources/dsa.json
Owners: none

description update for materailui , antdesign, chakraui
  database/frontend/ui-libraries.json
Owners: none

add Tushar roy
  database/competitive_programming/cp-tutorials.json
Owners: none

Added useOnClickOutside custom hook and implemented it to dropdown list
  components/Backdrop/Backdrop.tsx
  components/Header/Header.tsx
  components/Searchbar/Searchbar.tsx
  components/Searchbar/SearchbarSuggestions.tsx
  components/SideNavbar/SideNavbarCategory.tsx
  components/SideNavbar/SideNavbarCategoryList.tsx
  components/ThemeToggler/themeToggler.tsx
  components/TopBar/TopBar.tsx
  hooks/useOnClickOutside.ts
  layouts/GeneralLayout.tsx
  pages/[category]/[...subcategory].tsx
  pages/index.tsx
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

added jenkins json to devops
  database/devops/jenkins.json
Owners: none

added jenkins export in devops category
  database/index.ts
Owners: none

added jenkins to devops category description
  components/TopBar/CategoryDescriptions.ts
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

Fix Issue #1955: Removed Icon Liberary(Font Awesome) Link from Font category
  database/frontend/fonts.json
Owners: none

chore: update description
  database/devops/jenkins.json
Owners: none

Adding Yannickilcher channel in machine learning category
  database/youtube/machine-learning.json
Owners: none

Delete database/Prompt_Engineering /Free_Prompt_Engineering _course.json
  database/Prompt_Engineering /Free_Prompt_Engineering _course.json
Owners: none

Create Chat_GPT_Prompt_Engineering.json
  database/artificial_intelligence/AI Chatbots/Chat_GPT_Prompt_Engineering.json
Owners: none

updated appropriate directories with jenkins info
  components/TopBar/CategoryDescriptions.ts
  database/data.ts
  database/devops/jenkins.json
  database/index.ts
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

Delete database/artificial_intelligence/AI Chatbots directory
  database/artificial_intelligence/AI Chatbots/Chat_GPT_Prompt_Engineering.json
Owners: none

Create AI_Chatbots.json
  database/artificial_intelligence/AI_Chatbots.json
Owners: none

Rename AI_Chatbots.json to AI-Chatbots.json
  database/artificial_intelligence/AI-Chatbots.json
Owners: none

chore: updating LICENSE section in README
  README.md
Owners: @CBID2, @Anmol-Baranwal, @rupali-codes

add category field to "youtube"
  database/youtube/machine-learning.json
Owners: none

fixed missing colon
  database/youtube/machine-learning.json
Owners: none

Pagination fixed
  components/Footer/Footer.tsx
  components/Pagination/Pagination.tsx
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

chore: update name
  database/DSA/DSAarticles.json
Owners: none

chore: update description
  database/DSA/DSAarticles.json
Owners: none

Added youtube link for complete Kubernetes tutorial
  database/index.ts
  database/youtube/Kubernetes.json
Owners: none

Updated data.ts
  database/data.ts
Owners: none

updated description
  components/TopBar/CategoryDescriptions.ts
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

fix: omit comma
  components/TopBar/CategoryDescriptions.ts
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

feat: Add exercism to CP platform category (#1969)
  database/competitive_programming/cp-platforms.json
Owners: none

chore: update description
  database/youtube/Kubernetes.json
Owners: none

chore: format
  database/youtube/machine-learning.json
Owners: none

chore: Added Yannickilcher channel in machine learning category (#1974)
  database/youtube/machine-learning.json
Owners: none

chore: format
  database/languages/cpp.json
Owners: none

chore: Added CPP playlist to cpp.json (#1968)
  database/languages/cpp.json
Owners: none

chore : Added Dsa subcategory under Resources category. (#1965)
  components/TopBar/CategoryDescriptions.ts
  database/data.ts
  database/index.ts
  database/resources/dsa.json
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

chore: add dsa roadmap in category other under roadmaps (#1949)
  database/other/roadmaps.json
Owners: none

fix: Resource Rendering in the subcat (#1943)
  database/data.ts
  database/index.ts
  database/internet_of_things/raspberrypi.json
Owners: none

chore: fix description
  components/TopBar/CategoryDescriptions.ts
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

chore: place DSA above CP
  database/data.ts
Owners: none

Update data.ts
  database/data.ts
Owners: none

.github/CODEOWNERS:

# Codeowners file for LinksHub repository

# This file defines the code owners for the LinksHub repository. Code owners are responsible for reviewing and approving any changes to the code in their respective areas.

## Files

README.md @CBID2 @Anmol-Baranwal @rupali-codes
.gitignore @CBID2 @Anmol-Baranwal @rupali-codes
LICENSE @rupali-codes @CBID2 @Anmol-Baranwal
.github/workflows/ @rupali-codes @CBID2 @Anmol-Baranwal
app/ @rupali-codes  @Anmol-Baranwal
components/ @Anmol-Baranwal @CBID2 @rupali-codes
lib/ @CBID2 @rupali-codes @Anmol-Baranwal
tests/ @rupali-codes @CBID2 @Anmol-Baranwal

## Directories
.github/ @rupali-codes @CBID2 @Anmol-Baranwal
node_modules/ @rupali-codes @Anmol-Baranwal 
public/ @CBID2 @rupali-codes @Anmol-Baranwal 
.env/ @rupali-codes @Anmol-Baranwal @CBID2

## Special cases
# Any changes to the CODEOWNERS file must be approved by @rupali-codes @Anmol-Baranwal @CBID2.
# Any changes to the .gitattributes file must be approved by @rupali-codes @CBID2 @Anmol-Baranwal.
# Any changes to the .gitignore file must be approved by @CBID2 @Anmol-Baranwal  @rupali-codes.

## Contact information
# If you have any questions about the CODEOWNERS file, please contact @rupali-codes @Anmol-Baranwal @CBID2.
