Repository rupali-codes/LinksHub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CBID2, @Anmol-Baranwal, @rupali-codes

chore: Added DSA category (#1940)
  components/TopBar/CategoryDescriptions.ts
  database/DSA/DSAarticles.json
  database/data.ts
  database/index.ts
  types/index.ts
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

chore: fix description of NLP
  components/TopBar/CategoryDescriptions.ts
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

chore: added a nlp section section (#1932)
  components/TopBar/CategoryDescriptions.ts
  database/artificial_intelligence/NLP.json
  database/data.ts
  database/index.ts
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

Update system-design.json
  database/backend/system-design.json
Owners: none

Update c-programming.json
  database/languages/c-programming.json
Owners: none

Update animations.json
  database/frontend/animations.json
Owners: none

Add Accessibility Improvements to Links
  components/SideNavbar/SideNavbarCategory.tsx
  pages/[category]/index.tsx
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

Bug Fixed in animations.json
  database/frontend/animations.json
Owners: none

chore: replace broken link with new discord icon source
  README.md
Owners: @CBID2, @Anmol-Baranwal, @rupali-codes

Update c-programming.json
  database/languages/c-programming.json
Owners: none

update description
  database/competitive_programming/cp-tutorials.json
Owners: none

feat: Add exercism to CP platform category (#1981)
  database/competitive_programming/cp-platforms.json
Owners: none

chore: Add youtube link for complete Kubernetes tutorial issue #1889 - build
  database/data.ts
  database/index.ts
  database/youtube/Kubernetes.json
Owners: none

Update animations.json
  database/frontend/animations.json
Owners: none

Update animations.json
  database/frontend/animations.json
Owners: none

chore: updated appropriate directories with jenkins info (#1976)
  components/TopBar/CategoryDescriptions.ts
  database/data.ts
  database/devops/jenkins.json
  database/index.ts
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

chore: Removed Icon Liberary(Font Awesome) Link from Font category (#1973)
  database/frontend/fonts.json
Owners: none

Add : System design primer
  database/backend/system-design.json
Owners: none

chore: added UI libraries in fronted (#1970) - build
  components/TopBar/CategoryDescriptions.ts
  database/data.ts
  database/frontend/ui-libraries.json
  database/index.ts
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

Scroll to top after Page change
  components/Pagination/Pagination.tsx
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

Update system-design.json
  database/backend/system-design.json
Owners: none

chore: add System design primer (#1994)
  database/backend/system-design.json
Owners: none

chore: fix typo
  database/frontend/animations.json
Owners: none

chore: Add GSAP Animation Library in animation.json (#1988)
  database/frontend/animations.json
Owners: none

chore: update url of discord logo
  README.md
Owners: @CBID2, @Anmol-Baranwal, @rupali-codes

Adding C programming playlist link
  database/languages/c-programming.json
Owners: none

feat: add cassandra db to database.json
  database/backend/database.json
Owners: none

chore: update description
  database/languages/c-programming.json
Owners: none

handled searchbar state when useOnClickOutside gets triggered
  components/Searchbar/Searchbar.tsx
  components/Searchbar/SearchbarReducer.ts
  components/SideNavbar/SideNavbarBody.tsx
  components/SideNavbar/SideNavbarCategory.tsx
  components/SideNavbar/SideNavbarCategoryList.tsx
  components/SideNavbar/SideNavbarElement.tsx
  hooks/useOnClickOutside.ts
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

Update database.json
  database/backend/database.json
Owners: none

chore: add domain category
  database/other/domains.json
Owners: none

chore: update category index list
  database/index.ts
Owners: none

chore: update category data file
  database/data.ts
Owners: none

Update README.md
  README.md
Owners: @CBID2, @Anmol-Baranwal, @rupali-codes

chore: adding WellFound site to job portal category (#1946)
  database/placement_prep/job-portals.json
Owners: none

Added one YouTube playlist for learning Data Structures.
  database/youtube/data-structures.json
Owners: none

added chai and react youtube channel for webdev #hacktoberfest2023
  database/youtube/web-development.json
Owners: none

chore: add cassandra db to database.json (#1999)
  database/backend/database.json
Owners: none

chore: replace broken link with new discord icon source (#1991)
  README.md
Owners: @CBID2, @Anmol-Baranwal, @rupali-codes

chore: add Neetcode in Competitive Programming category (#1966)
  database/competitive_programming/cp-tutorials.json
Owners: none

.github/CODEOWNERS:

# Codeowners file for LinksHub repository

# This file defines the code owners for the LinksHub repository. Code owners are responsible for reviewing and approving any changes to the code in their respective areas.

## Files

README.md @CBID2 @Anmol-Baranwal @rupali-codes
.gitignore @CBID2 @Anmol-Baranwal @rupali-codes
LICENSE @rupali-codes @CBID2 @Anmol-Baranwal
.github/workflows/ @rupali-codes @CBID2 @Anmol-Baranwal
app/ @rupali-codes  @Anmol-Baranwal
components/ @Anmol-Baranwal @CBID2 @rupali-codes
lib/ @CBID2 @rupali-codes @Anmol-Baranwal
tests/ @rupali-codes @CBID2 @Anmol-Baranwal

## Directories
.github/ @rupali-codes @CBID2 @Anmol-Baranwal
node_modules/ @rupali-codes @Anmol-Baranwal 
public/ @CBID2 @rupali-codes @Anmol-Baranwal 
.env/ @rupali-codes @Anmol-Baranwal @CBID2

## Special cases
# Any changes to the CODEOWNERS file must be approved by @rupali-codes @Anmol-Baranwal @CBID2.
# Any changes to the .gitattributes file must be approved by @rupali-codes @CBID2 @Anmol-Baranwal.
# Any changes to the .gitignore file must be approved by @CBID2 @Anmol-Baranwal  @rupali-codes.

## Contact information
# If you have any questions about the CODEOWNERS file, please contact @rupali-codes @Anmol-Baranwal @CBID2.
