Repository rupali-codes/LinksHub, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CBID2, @Anmol-Baranwal, @rupali-codes

chore: add domain category (#2002)
  database/data.ts
  database/index.ts
  database/other/domains.json
Owners: none

chore: add open source projects
  database/open_source/projects.json
Owners: none

add: Free Programming Books to projects open source
  database/open_source/projects.json
Owners: none

Open Source Tutorial Link Added
  database/open_source/os-tutorials.json
Owners: none

Language added
  database/open_source/os-tutorials.json
Owners: none

chore: update image url
  README.md
Owners: @CBID2, @Anmol-Baranwal, @rupali-codes

Added a C++ STL video link
  database/languages/cpp.json
Owners: none

fix: scrollToTop using prev button
  components/Pagination/Pagination.tsx
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

Added React icons to icons.json
  database/frontend/icons.json
Owners: none

Added solidity as a subcategory
  CONTRIBUTING.md
  components/TopBar/CategoryDescriptions.ts
  database/data.ts
  database/index.ts
  database/languages/solidity.json
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

fix: laggy navbar transition during theme toggle
  components/SideNavbar/SideNavbarBody.tsx
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

Dropdown bug (#1971)
  components/Backdrop/Backdrop.tsx
  components/Header/Header.tsx
  components/Searchbar/Searchbar.tsx
  components/Searchbar/SearchbarReducer.ts
  components/Searchbar/SearchbarSuggestions.tsx
  components/SideNavbar/SideNavbarBody.tsx
  components/SideNavbar/SideNavbarCategory.tsx
  components/SideNavbar/SideNavbarCategoryList.tsx
  components/SideNavbar/SideNavbarElement.tsx
  components/ThemeToggler/themeToggler.tsx
  components/TopBar/TopBar.tsx
  hooks/useOnClickOutside.ts
  layouts/GeneralLayout.tsx
  pages/[category]/[...subcategory].tsx
  pages/index.tsx
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

add: zSecurity under cybersecurity category
  database/cybersecurity/offensive_security.json
Owners: none

adjust: more detail for description
  database/open_source/projects.json
Owners: none

added: arduino under internet_of_things
  database/index.ts
  database/internet_of_things/arduino.json
Owners: none

add new ML resource
  database/youtube/machine-learning.json
Owners: none

fix: laggy navbar transition during theme toggle (#2024)
  components/SideNavbar/SideNavbarBody.tsx
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

chore: Added React icons to icons.json (#2020)
  database/frontend/icons.json
Owners: none

chore: added a C++ STL video link (#2019)
  database/languages/cpp.json
Owners: none

chore: Added Open Source Tutorial Link Added (#2016)
  database/open_source/os-tutorials.json
Owners: none

chore: add open source projects (#2013)
  database/open_source/projects.json
Owners: none

chore: Added C programming playlist (#1996)
  database/languages/c-programming.json
Owners: none

chore: updating LICENSE section in README (#1977)
  README.md
Owners: @CBID2, @Anmol-Baranwal, @rupali-codes

fix: pagination component overlapping cards #1833 (#1950)
  components/Footer/Footer.tsx
  components/Pagination/Pagination.tsx
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

chore:Add themesberg link (#2027)
  database/frontend/themes-templates.json
  package.json
  pnpm-lock.yaml
Owners: none

added neon db to database.json
  database/backend/database.json
Owners: none

added os-programs to open-source sub cat
  components/TopBar/CategoryDescriptions.ts
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

added os-programs to Open-source sub
  database/data.ts
  database/index.ts
Owners: none

added os-programs json to open-source dir
  database/open_source/os-programs.json
Owners: none

Added a YouTube playlist for learning DSA.
  database/DSA/DSAYouTube.json
Owners: none

Updated some grammatical errors in solidity.json
  database/languages/solidity.json
Owners: none

Added ThemesBerg to Frontend(Themes&Templates)
  database/frontend/themes-templates.json
Owners: none

Making proper statements in solidity.json
  database/languages/solidity.json
Owners: none

chore: os-programs sub cat added open-source dir #2004 (#2036)
  components/TopBar/CategoryDescriptions.ts
  database/data.ts
  database/index.ts
  database/open_source/os-programs.json
Owners: @Anmol-Baranwal, @CBID2, @rupali-codes

chore: added Free Programming Books to projects open source (#2015)
  database/open_source/projects.json
Owners: none

chore: add planetscale database (#2001)
  database/backend/database.json
Owners: none

chore: add github student developer pack in free domains
  database/other/domains.json
Owners: none

chore: add linkedin in job-portals
  database/placement_prep/job-portals.json
Owners: none

chore: add indeed in job-portals
  database/placement_prep/job-portals.json
Owners: none

chore: add sqaurespace in portfolio-building
  database/placement_prep/portfolio-building.json
Owners: none

.github/CODEOWNERS:

# Codeowners file for LinksHub repository

# This file defines the code owners for the LinksHub repository. Code owners are responsible for reviewing and approving any changes to the code in their respective areas.

## Files

README.md @CBID2 @Anmol-Baranwal @rupali-codes
.gitignore @CBID2 @Anmol-Baranwal @rupali-codes
LICENSE @rupali-codes @CBID2 @Anmol-Baranwal
.github/workflows/ @rupali-codes @CBID2 @Anmol-Baranwal
app/ @rupali-codes  @Anmol-Baranwal
components/ @Anmol-Baranwal @CBID2 @rupali-codes
lib/ @CBID2 @rupali-codes @Anmol-Baranwal
tests/ @rupali-codes @CBID2 @Anmol-Baranwal

## Directories
.github/ @rupali-codes @CBID2 @Anmol-Baranwal
node_modules/ @rupali-codes @Anmol-Baranwal 
public/ @CBID2 @rupali-codes @Anmol-Baranwal 
.env/ @rupali-codes @Anmol-Baranwal @CBID2

## Special cases
# Any changes to the CODEOWNERS file must be approved by @rupali-codes @Anmol-Baranwal @CBID2.
# Any changes to the .gitattributes file must be approved by @rupali-codes @CBID2 @Anmol-Baranwal.
# Any changes to the .gitignore file must be approved by @CBID2 @Anmol-Baranwal  @rupali-codes.

## Contact information
# If you have any questions about the CODEOWNERS file, please contact @rupali-codes @Anmol-Baranwal @CBID2.
