Repository rupali-codes/LinksHub, pull requests merged in 2024-11, with the labels that each got.

#2561 feat(category): add 'cms toolkit' close #2560
  components/TopBar/CategoryDescriptions.ts
  database/CMS_toolkit/headless_cms.json
  database/CMS_toolkit/traditional_cms.json
  database/data.ts
  database/index.ts
  types/index.ts
Labels: goal: new-feature, goal: new-category, priority: low, priority: high, chore

#2562 feat: added can i use to database/others/devtools
  database/other/devtools.json
Labels: goal: new-feature, priority: high

#2565 feat: added links for resume building
  database/placement_prep/cover_letters.json
  database/placement_prep/portfolio_building.json
  database/placement_prep/resume_building.json
Labels: goal: new-link, priority: low, chore, goal: build
